/**
 * @file color
 * @author dazhuang(zengqingzhuang$baidu.com)
 *
 */

// [色值定义]

// 主色

$main-color-primary: #6492e3; // 主导航, 按钮, 标题
$main-color-info: #bed8f9; // 进度条
$main-color-warning: #ff896b; // 提醒图标, 强提醒文案
$main-color-danger: #e65757; // 错误提示, 逾期提示

// 辅助色 (和规范对应关系从下到上)
$secondary-color-deep: #ccc; // 虚线, 分割线
$secondary-color-dark: #eee; // 边框描边, 输入框, 表单分割线
$secondary-color-light: #f5f5f5; // 背景色
$secondary-color-bright: #fff; // 白色

// 点缀色
$decoration-color-deep: #222; // 数字, 标题, 强提醒
$decoration-color-dark: #666; // 列表信息, 线框按钮描边
$decoration-color-light: #999; // 次要信息, 选择框引导文字, 文本框反显文字, 链接文字
$decoration-color-bright: #bbb; // 弱引导, 弱提示, 文本框引导文字, 线框按钮灰太文字, 线框按钮描边, 分割线  图标
